<h1>Where would you like to go?</h1>
<p>
<%= form_tag(trips_search_path, method: "get") do %>
  
    <%= label_tag(:search, "") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
    <br/>

    <%= label_tag(:dateStart, "Around what date would you like to start?") %>
    <%= text_field_tag(:dateStart, ' ' , :id => 'datepicker') %>

    <br />
    <%= label_tag(:duration, "For approximately how many days would you like to go?") %>
    <%= text_field_tag(:duration) %>
    
<% end %>
</p>


<script>
  $(function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'D, dd M yy' });
  });
</script>