<p id="notice"><%= notice %></p>

<p>
  <strong>Interger:</strong>
  <%= @hotel.interger %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @hotel.integer %>
</p>

<p>
  <strong>String:</strong>
  <%= @hotel.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @hotel.string %>
</p>

<p>
  <strong>Float:</strong>
  <%= @hotel.float %>
</p>

<p>
  <strong>String:</strong>
  <%= @hotel.string %>
</p>

<p>
  <strong>Interger:</strong>
  <%= @hotel.interger %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
